:root {
    --blue-lk : #0a66c2;
    --white : #fff;
    --grey : #5b5b5b;
    --black : #292727; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
main {
    min-width: 280px;
}

